<div class="card">
    <div class="card-body row">
      <div class="form-group col-6">
        <label for="text">Text search</label>
        <input type="text" class="form-control" name="text" id="text" placeholder="Enter text" #textSearch>
      </div>
      <div class="form-group col-6">
        <label for="category">Category</label>
        <select name="category" class="form-control" id="category" #categorySelect>
          <option value="">All</option>
          <option value="electronic">Electronic</option>
          <option value="food">Food</option>
          <option value="others">Others</option>
        </select>
      </div>
    </div>
</div>
