<div>
    <app-product-filter (filter)="handleFilter($event)"></app-product-filter>
</div>
<!--<div>-->
<!--    <app-product-filter-form></app-product-filter-form>-->
<!--</div>-->
<div>
    <app-product-reactive-filter-form></app-product-reactive-filter-form>
</div>
<div class="p-3 mt-3">
    <app-product-item
            [appTest]="{ hoverColor: 'lightblue', regularColor: 'white'}"
            *ngFor="let product of products$ | async"
            (delete)="handleDelete($event)"
            [product]="product"></app-product-item>
</div>
