<app-navigation></app-navigation>
<router-outlet></router-outlet>
<button (click)="pushValuesToTest()">Push random value to test</button>
<div class="card" *ngIf="showTestContainer">
    <div class="card-header" [appTest] #appDirective="appTest">Tests</div>
    <div class="card-body">
        <button (click)="appDirective.changeBackground('blue')">Change background to blue</button>
        <app-test [myCounter]="initialValue" [ngClass]="{ 'active': isActive}"
                  (isIncremented)="testIncrementedHandler($event)"></app-test>
        <app-test [myCounter]="initialValue * 10"
                  (isIncremented)="testIncrementedHandler($event)"></app-test>
        <app-test [myCounter]="initialValue * 100"
                  *ngIf="isActive"
                  (isIncremented)="testIncrementedHandler($event)"></app-test>
        <button (click)="isActive = !isActive">Toggle active</button>
        ===============
        <div *ngFor="let el of arr; let isOdd = odd" [ngClass]="{odd: isOdd}" >{{el.id}}, {{el.name}}</div>
    </div>
</div>

